.header {
  font-size: large;

  background:rgb(13, 13, 218);

  nav {
    padding: 12px 0;

    .container {
      display: flex;
      justify-content: space-between;

      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;

        @media screen and (max-width: 995px) {
          display: none;
        }


        li {
          font-size: 12px;

          &:not(:last-child) {
            margin-right: 25px;
          }

          a,
          button {
            text-decoration: none;
            color: white;
            position: relative;
            display: flex;
            justify-content: center;

            &::after {
              content: '';
              height: 2px;
              width: 0%;
              background-color: #f26522;
              position: absolute;
              bottom: -4px;
              transition: all 0.3s; //ease-in: comecar lento e depois acelerar
            }

            &:hover {
              &::after {
                width: 100%;
              }
            }

            img {
              width: 20px;
              height: 20px;
            }
          }
        }
      }

      button {
        display: none;

        @media screen and (max-width: 995px) {
          display: block !important;
        }

        img {
          width: 25px;
          height: 25px;
        }
      }

      .backdrop {
        background-color: rgb(#000000, 0.5);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0px;
        left: 0;
        z-index: 1024;
      }

      .line {
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: start;
        background:rgb(13, 13, 218);
        width: 250px;
        height: 100%;
        position: fixed;
        top: 0px;
        left: 0;
        z-index: 1024;

        ul {
          display: unset !important;

          li {
            display: flex;
            justify-content: start;

            a,
            button {
              color: white;
            }
          }
        }
      }

      @media screen and (max-width: 995px) {
        justify-content: end;
      }


    }
  }

  .sales {
    width: 100%;

    ul {
      display: flex;
      justify-content: space-between;
      margin: 20px 0;

      li,
      a {

        display: flex;
        align-items: center;
        color: rgb(white, 0.8);

        img {
          margin-right: 20px;
          width: 25px;
          height: 25px;
        }
      }
    }
  }

  section {
    background:rgb(13, 13, 218);

    .search_bar {
      display: flex;
      padding: 15px;

      .catalog {
        display: flex;
        align-items: center;
        background: #f26522;
        color: white;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;

        em {
          font-size: 13px;
          padding-right: 15px;

          @media screen and (max-width: 768px) {
            display: none;
          }
        }

        img {
          width: 25px;
          height: 25px;
          margin: 0 10px;
        }
      }

      input {
        width: 100%;
        border: none;
      }

      button {
        font-size: 13px;
        background: #f26522;
        color: white;
        border-radius: 4px;
        padding: 0 10px;
      }
    }
  }
}