.text {
  width: 100%;
  margin-top: 20px;
}

.p {
  width: 100%;
  max-width: 350px;

  p {
    padding-top: 20px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    margin-bottom: 0;
  }
}

.collapse {
  transition: height .5s;
}