.text {
  width: 100%;
  margin-top: 20px;
<<<<<<< Updated upstream
=======
  display: flex;
  justify-content: space-evenly;

  button {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

  }
>>>>>>> Stashed changes
}

.p {
  width: 100%;
  max-width: 350px;

  p {
<<<<<<< Updated upstream
    padding-top: 20px;
=======
    margin-top: 20px;
>>>>>>> Stashed changes
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    margin-bottom: 0;
  }
}

.collapse {
  transition: height .5s;
}